<h1>Display your Pirate here</h1>
<div class="pirate">
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>
</div>

<h1>Ship(s)</h1>

<% @ships.each do |ship| %>
<div class="ship">
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
</div>
<% end %>
